<!doctype html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>ESFiddle</title>
  <link rel="icon" href="./../static/images/favicon.png">
  <script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
  <style>
      html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
        outline: none;
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
      }
      html { overflow-y: auto; }
      body { 
        background: #f0f0f0; 
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        color: #313131;
        font-size: 62.5%; 
        line-height: 1; 
      }

      ::selection { background: #a4dcec; }
      ::-moz-selection { background: #a4dcec; }
      ::-webkit-selection { background: #a4dcec; }

      ::-webkit-input-placeholder { /* WebKit browsers */
        color: #ccc;
        font-style: italic;
      }
      :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
        color: #ccc;
        font-style: italic;
      }
      ::-moz-placeholder { /* Mozilla Firefox 19+ */
        color: #ccc;
        font-style: italic;
      }
      :-ms-input-placeholder { /* Internet Explorer 10+ */
        color: #ccc !important;
        font-style: italic;  
      }

      br { display: block; line-height: 2.2em; } 

      article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
      ol, ul { list-style: none; }

      input, textarea { 
        -webkit-font-smoothing: antialiased;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        outline: none; 
      }

      blockquote, q { quotes: none; }
      blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
      strong { font-weight: bold; } 

      table { border-collapse: collapse; border-spacing: 0; }
      img { border: 0; max-width: 100%; }

      #topbar {
        background: #983e50;
        padding: 10px 0 10px 0;
        height: 36px;
        overflow: hidden;
        -webkit-transition: height 0.5s linear;
        -moz-transition: height 0.5s linear;
        transition: height 0.5s linear;
      }
      #topbar a {
        color: #fff;
        font-size:1.3em;
        line-height: 1.25em;
        text-decoration: none;
        font-weight: bold;
      }
      #topbar a:hover {
        text-decoration: underline;
      }

      /** typography **/
      h1 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2.5em;
        line-height: 1.5em;
        letter-spacing: -0.05em;
        margin-bottom: 20px;
        padding: .1em 0;
        color: #444;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
      }
      h1:before,
      h1:after {
        content: "";
        position: relative;
        display: inline-block;
        width: 50%;
        height: 1px;
        vertical-align: middle;
        background: #f0f0f0;
      }
      h1:before {    
        left: -.5em;
        margin: 0 0 0 -50%;
      }
      h1:after {    
        left: .5em;
        margin: 0 -50% 0 0;
      }
      h1 > span {
        display: inline-block;
        vertical-align: middle;
        white-space: normal;
      }


      h2 {
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 2.1em;
        line-height: 1.4em;
        letter-spacing: normal;
        margin-bottom: 20px;
        padding: .1em 0;
        color: #444;
        position: relative;
        overflow: hidden;
        white-space: nowrap;
        text-align: center;
      }

      p {
        display: block;
        font-size: 1.4em;
        line-height: 1.55em;
        margin-bottom: 22px;
        color: #555;
      }

      a { color: #5a9352; text-decoration: none; }
      a:hover { text-decoration: underline; }

      .center { display: block; text-align: center; }

      /** page structure **/
      #w {
        display: block;
        width: 750px;
        margin: 0 auto;
        padding-top: 30px;
        padding-bottom: 45px;
      }

      #content {
        display: block;
        width: 100%;
        background: #fff;
        padding: 25px 20px;
        padding-bottom: 35px;
        -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
      }

      #userphoto {
        display: block;
        float: right;
        width: 150px;
        height: 150px;  
        margin-left: 10px;
        margin-bottom: 8px;
      }
      #userphoto img {
        display: block;
        padding: 2px;
        background: #fff;
        -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.4);
        box-shadow: 0 1px 3px rgba(0,0,0,0.4);
      }


      /** profile nav links **/
      #profiletabs {
        display: block;
        margin-bottom: 4px;
        height: 50px;
      }

      #profiletabs ul { list-style: none; display: block; width: 70%; height: 50px; }
      #profiletabls ul li { float: left; }
      #profiletabs ul li a { 
        display: block;
        float: left;
        padding: 8px 11px;
        font-size: 1.2em;
        font-weight: bold;
        background: #eae8db;
        color: #666;
        margin-right: 7px;
        border: 1px solid #fff;
        -webkit-border-radius: 5px;
        -webkit-border-bottom-left-radius: 0;
        -moz-border-radius: 5px;
        -moz-border-radius-bottomleft: 0;
        border-radius: 5px;
        border-bottom-left-radius: 0;
      }
      #profiletabs ul li a:hover {
        text-decoration: none;
        background: #dad7c2;
        color: #565656;
      }

      #profiletabs ul li a.sel {
        background: #fff;
        border-color: #d1cdb5;
      }


      /** profile content sections **/
      .hidden {
        display: none;
      }

      .activity {
        border-bottom: 1px solid #d6d1af;
        padding-bottom: 4px;
      }

      .setting {
        display: block;
        font-weight: normal;
        padding: 7px 3px;
        border-top: 1px solid #d6d1af;
        margin-bottom: 5px;
      }
      .setting span {
        float: left; 
        width: 250px;
        font-weight: bold;
      }
      .setting span img { 
        cursor: pointer;
      }


      #friendslist {
        display: block;
        font-size: 1.1em;
        font-weight: bold;
      }
      #friendslist li { line-height: 30px; }
      #friendslist li a {
        float: left;
        height: 30px;
        padding: 3px 6px;
        line-height: 22px;
        margin-right: 15px;
        border: 1px solid #c9d8b8;
      }

      #friendslist li a img { float: left; margin-right: 5px; }

      /** clearfix **/
      .clearfix:after { content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0; }
      .clearfix { display: inline-block; }
      
      html[xmlns] .clearfix { display: block; }
      * html .clearfix { height: 1%; }
      
      .right {
        text-align: right;
        float: right;
        padding-right: 15px;
      }

      .left {
        text-align: left;
        float: left;
        padding-left: 15px;
      }
  </style>
</head>

<body>
  <div id="topbar">
  <span class="left"><a href="/">Home</a></span>
	<span class="right"><a href="/github/logout">Log Out</a></span><span class="right"><a href="#bio">Welcome   <%= user.name %> </a></span>
  </div>
  
  <div id="w">
    <div id="content" class="clearfix">
      <div id="userphoto"><img src= "<%= user.avatar_url %>" alt="default avatar"></div>
      <h1><%= user.name %></h1>

      <nav id="profiletabs">
        <ul class="clearfix">
          <li><a href="#bio" class="sel">Bio</a></li>
          <li><a href="#activity">Activity</a></li>
          <li><a href="#starFiddle">Stared Fiddle</a></li>
          <li><a href="#settings">Settings</a></li>
        </ul>
      </nav>
      
      <section id="bio">
        <p>Github Username: <%= user.login %></p>
        <p>Bio: <%= user.bio %></p>
        <p>Email: <%= user.email %></p>
      </section>
      
      <section id="activity" class="hidden">
        <p>Most recent fiddles:</p>

            <% for(var i=0; i<fiddles.length; i++) { %>
                    <p class="activity"><a href='/<%= fiddles[i].fiddle %>'> <%= fiddles[i].fiddle %></p>
            </a></p>
            <% } %>
      </section>

      <section id="starFiddle" class="hidden">
        <p>Stared fiddles:</p>
            <% for(var i=0; i<startedFiddles.length; i++) { %>
                    <p class="activity"><a href='/<%= startedFiddles[i] %>'> <%= startedFiddles[i] %></p>
            </a></p>
            <% } %>
      </section>
      
    </div><!-- @end #content -->
  </div><!-- @end #w -->
<script type="text/javascript">
$(function(){
  $('#profiletabs ul li a').on('click', function(e){
    e.preventDefault();
    var newcontent = $(this).attr('href');
    
    $('#profiletabs ul li a').removeClass('sel');
    $(this).addClass('sel');
    
    $('#content section').each(function(){
      if(!$(this).hasClass('hidden')) { $(this).addClass('hidden'); }
    });
    
    $(newcontent).removeClass('hidden');
  });
});
</script>
</body>
</html>