<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>ESFiddle - Profile</title>
    <meta charset="utf-8">
    <meta name="Description" content="Try out ES6+ features and share them with your friends, right in your browser!
With ESFiddle you can sample ES6 (ECMAScript 2015) and ES7 (ECMAScript 2016) with our preset samples or create your own snippets to share with others.">
    <meta name="Keywords" content="ES6, ES7, ES8, Ecmascript 2015, ES2015, ES2016, Ecmascript, Javascript, JS, TC39, ES2017, Ecmascript 2016">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Blog</title>
    <script src="https://use.fontawesome.com/52284be701.js"></script>
    <link rel="stylesheet" href="/style/profile.css">
    <link rel="icon" href="/images/favicon.png">
  </head>
  <body>
    <div class="header">
      <% include components/navbar.ejs %>
      <nav>
        <span><a href="https://github.com/esfiddle/esfiddle" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a></span>
      </nav>
    </div>

  <div class="profile">
    <div class="content" class="clearfix">
      <div class="userphoto"><img src= "<%= user.avatar_url %>" alt="default avatar"></div>
      <div class="user-details">
        <h1><%= user.name %></h1>
        <section class="bio">
          @<%= user.login %>
        </section>

        <section class="activity recent">
          <h3>Most recent fiddles:</h3>
          <ul>
            <% for(var i=0; i<fiddles.length; i++) { %>
                    <li><a href='/<%= fiddles[i].fiddle %>'> <%= fiddles[i].fiddle %></a></li>
            <% } %>
          </ul>
        </section>
        <% if (startedFiddles.length > 0) { %>
          <section class="activity">
            <h3>Stared fiddles</h3>
            <ul>
              <% for(var i=0; i<startedFiddles.length; i++) { %>
                      <li><a href='/<%= startedFiddles[i] %>'> <%= startedFiddles[i] %></a></li>
              <% } %>
            </ul>
          </section>
        <% } %>
    </div>
    </div><!-- @end #content -->
  </div><!-- @end #w -->
</body>
<script async src="../src/authenticated.js"></script>
</html>
